<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Autocomplete abuser</title>
        <script src="/scripts/vue.js"></script>
        <script src="/scripts/jquery.js"></script>
        <link rel="stylesheet" href="/ui/main.css" />
    </head>

    <body>
        <div id="app">
            <!-- <div id="engine-list" class="cards">
                <div v-for="source in sources" :id="source.name" class="card">
                    <h1>{{ source.name }}</h1>
                    <ul>
                        <li v-for="tag in source.attributes">{{ tag }}</li>
                    </ul>
                </div>
            </div> -->
            <input
                type="text"
                placeholder="The quick brown fox jumped over the lazy dog"
                id="search"
                class="input"
            />
            <input type="text" placeholder="20" id="results" class="input" />
            <select title="language" id="languages" class="select">
                <option
                    v-for="language in languages"
                    :id="language"
                    :selected="language == 'en'"
                    class="option"
                >
                    {{ language }}
                </option>
            </select>

            <select title="acengine" id="acengine" class="select">
                <option
                    v-for="item in elements"
                    :id="item.name"
                    v-if="!item.broken"
                    class="option"
                >
                    {{ item.name }}
                </option>
            </select>
            <div id="container">
                <button id="linkstart" class="btn">Search</button>
                <input
                    type="checkbox"
                    id="autocomplete"
                    checked
                    class="input"
                />
            </div>

            <ul id="searches">
                <li v-for="result in searches">{{ result }}</li>
            </ul>
        </div>
    </body>

    <script type="text/javascript" src="/scripts/validator.js"></script>
    <script type="text/javascript" src="/scripts/main.js"></script>
</html>
